button{
    width: 150px;
    height: 150px;
    font-size: 50px;
}

.main{
    display: grid;
    justify-content: center;
    border-width: 5px;
    border-color: black;
}

.buttons{
    display: flex;
    align-content: center;
}

.column1{
    display: grid;
}

.column2{
   display: grid; 
}

.result{
    background-color: aquamarine;
    text-align: right;
    height: 50px;
}
